doctype html

html
	//-
		<!--|    ,o888888o.    8 888888888o.    8 8888 b.             8 8 888888888o.
			|	8888     `88.  8 8888    `88.   8 8888 888o.          8 8 8888    `^888.
			|,8 8888       `8. 8 8888     `88   8 8888 Y88888o.       8 8 8888        `88.
			|88 8888           8 8888     ,88   8 8888 .`Y888888o.    8 8 8888         `88
			|88 8888           8 8888.   ,88'   8 8888 8o. `Y888888o. 8 8 8888          88
			|88 8888           8 888888888P'    8 8888 8`Y8o. `Y88888o8 8 8888          88
			|88 8888   8888888 8 8888`8b        8 8888 8   `Y8o. `Y8888 8 8888         ,88
			|`8 8888       .8' 8 8888 `8b.      8 8888 8      `Y8o. `Y8 8 8888        ,88'
			|   8888     ,88'  8 8888   `8b.    8 8888 8         `Y8o.` 8 8888    ,o88P'
			|    `8888888P'    8 8888     `88.  8 8888 8            `Yo 8 888888888P'
			|
			|8 888888888o   8 888888888o.    8 8888 8 888888888o.      8 8888888888
			|8 8888    `88. 8 8888    `88.   8 8888 8 8888    `^888.   8 8888
			|8 8888     `88 8 8888     `88   8 8888 8 8888        `88. 8 8888
			|8 8888     ,88 8 8888     ,88   8 8888 8 8888         `88 8 8888
			|8 8888.   ,88' 8 8888.   ,88'   8 8888 8 8888          88 8 888888888888
			|8 888888888P'  8 888888888P'    8 8888 8 8888          88 8 8888
			|8 8888         8 8888`8b        8 8888 8 8888         ,88 8 8888
			|8 8888         8 8888 `8b.      8 8888 8 8888        ,88' 8 8888
			|8 8888         8 8888   `8b.    8 8888 8 8888    ,o88P'   8 8888
			|8 8888         8 8888     `88.  8 8888 8 888888888P'      8 888888888888
		//-->

	head
		title Дело спартака
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(charset="utf-8")
		//-favicon
		link(rel="apple-touch-icon", sizes="120x120", href="static/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="static/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="static/favicon-16x16.png")
		link(rel="manifest", href="static/site.webmanifest")
		link(rel="mask-icon", href="static/safari-pinned-tab.svg", color="#5bbad5")
		link(rel="shortcut icon", href="static/favicon.ico")
		meta(name="msapplication-TileColor", content="#ffffff")
		meta(name="msapplication-config", content="/static/browserconfig.xml")
		meta(name="theme-color", content="#ffffff")

		link(rel='stylesheet', href='../css/style.pcss')
		link(href="https://fonts.googleapis.com/css?family=Rubik:300,500,700,900&amp;subset=cyrillic" rel="stylesheet")

		script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
		//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.js")

		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.3.0/css/perfect-scrollbar.min.css")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.3.0/perfect-scrollbar.min.js")

	body
		.wrapper
			.player-profile.cross-corners#puzh
				.player-profile__close &times;
				h2.player-profile__name Григорий Пужный

				.player-profile__about
					.player-profile__photo
						img(src="../assets/img/puzhniy.png")
					ul.player-profile__info
						li.info-item.player-profile__life-span!= '1904 - 1941'
						li.info-item.player-profile__post Легкоатлет, старший тренер общества "Спартак"

				.player-profile__tabs.tabs
					ul.tabs__caption
						li.tab.active Биография
						li.tab Арест
						li.tab Архивно-следственное дело
						li.tab Связь с делом Спартака

					.tabs__content.bio.active
						p Родился в 1904 году.

						p Легкоатлет, старший тренер общества “Спартак”. Спринтер, член эстафетной команды “Спартака” вместе с братьями Знаменскими. Погиб в первые месяцы войны в 1941-ом году.

					.tabs__content.arest
						p Арестован 30 января 1938 года.
					.tabs__content.case
						div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/300")
							a(href='../assets/img/puzh/obl.jpeg' data-caption="Обложка следственного дела Леонида Геека, Григория Пужного, Семена Кабакова и Евгения Архангельского. ")
							a(href='../assets/img/puzh/prev.jpeg' data-caption="Обвинения Леониду Гееку и Григорию Пужному. ")

					.tabs__content.connect
						p Согласно документам из следственного дела, показания против Пужного дают его напарники по команде — братья Знаменские. Вместе с ним обвиняются Леонид Геек и Евгений Архангельский.

			.player-profile.cross-corners#kadril
				.player-profile__close &times;
				h2.player-profile__name Трофим Кадрилеев

				.player-profile__about
					.player-profile__photo
						img(src="../assets/img/kadril/kadril.jpg")
					ul.player-profile__info
						li.info-item.player-profile__life-span!= '1910 - 1938'
						li.info-item.player-profile__post Лыжник, альпинист, преподаватель на кафедре Инфизкульта им. Сталина.
						li.info-item.meta-icon__wrapper
							.meta-icon.meta-icon--weapon
								.meta-icon__hover Хранение оружия
							.meta-icon.meta-icon--sport
								.meta-icon__hover Физическая подготовка
				.player-profile__tabs.tabs
					ul.tabs__caption
						li.tab.active Биография
						li.tab Арест
						li.tab Архивно-следственное дело
						li.tab Связь с делом Спартака

					.tabs__content.bio.active
						p Родился в 1910 году в Яхроме, Московская область.

						p Лыжник, альпинист, преподаватель на кафедре Инфизкульта им. Сталина.

						p Не женат.

						p Расстрелян 21 января 1938-го года на Коммунарке.

					.tabs__content.arest
						p Арестован 25 октября 1937-г на Гороховской улице 20А, в общежитии Инфизкульта.
					.tabs__content.case
						div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/300")
							a(href='../assets/img/kadril/ank1.jpg' data-caption="Анкета арестованного. С.1. ")
							a(href='../assets/img/kadril/ank2.jpg' data-caption="Анкета арестованного. С.2.")
							a(href='../assets/img/kadril/pokaz.jpeg' data-caption="Из показаний от 26 октября 1937 г.")
							a(href='../assets/img/kadril/zagovor.png' data-caption="О заговоре в “Спартаке” из показаний 26 октября 1937 г.")
							a(href='../assets/img/kadril/obv1.jpg' data-caption="Обвинительное заключение, С.1.")
							a(href='../assets/img/kadril/obv2.jpg' data-caption="Обвинительное заключение, С.2.")

					.tabs__content.connect
						p Согласно документам из сфабрикованного дела, во главе преступной организации стояли: Иван Гребенщиков, Николай Старостин, Виктор Рябоконь, Владимир Стрепихеев. В показаниях Кадрилеева можно найти упоминания “другого крыла” организации, в которое входят Василий Стеблев, Елиазар Гвоздовер, Григорий Пужный.

			.player-profile.cross-corners#krivonos
				.player-profile__close &times;
				h2.player-profile__name Серафим Кривоносов

				.player-profile__about
					.player-profile__photo
						img(src="../assets/img/krivonos/krivonos.jpg")
					ul.player-profile__info
						li.info-item.player-profile__life-span!= '1903 - 1938'
						li.info-item.player-profile__post Футболист, заведующий спортивным магазином общества “Спартак”
						li.info-item.meta-icon__wrapper
							.meta-icon.meta-icon--friend
								.meta-icon__hover Друг семьи Старостиных

				.player-profile__tabs.tabs
					ul.tabs__caption
						li.tab.active Биография
						li.tab Арест
						li.tab Архивно-следственное дело
						li.tab Связь с делом Спартака

					.tabs__content.bio.active
						p Родился в 1903 году в Москве.
						p В 20-е годы — футболист, с середины 30-х — заведующий спортивным магазином общества “Спартак”, близкий друг Андрея Старостина.
						p Следственное дело хранится в Центральном архиве ФСБ.
						p Расстрелян 20 июня 1938-го года в Коммунарке.


					.tabs__content.arest
						p Арестован 30 апреля 1938 года на Баррикадной улице 19, квартире 5
					.tabs__content.case
						p Следственное дело хранится в Центральном архиве ФСБ.
					.tabs__content.connect
						p Согласно документам из следственного дела, Серафим Кривоносов называет Владимира Стрепихеева и Андрея Старостина участниками антисоветского кружка.

			.player-profile.cross-corners#starost
				.player-profile__close &times;
				h2.player-profile__name Николай, Александр, Андрей, Петр Старостины

				.player-profile__about
					.player-profile__photo
						img(src="../assets/img/starost/starost.jpg")
					ul.player-profile__info
						li.info-item.player-profile__life-span!= '1898, 1903, 1906, 1909 '
						li.info-item.player-profile__post Основатели команды “Спартак”
						li.info-item.meta-icon__wrapper


				.player-profile__tabs.tabs
					ul.tabs__caption
						li.tab.active Биография
						li.tab Арест
						li.tab Архивно-следственное дело
						li.tab Связь с делом Спартака

					.tabs__content.bio.active
						p Основатели команды “Спартак” и игроки, олицетворяющие эту команду на протяжении десятилетий.

						p Арест Старостиных в 1942-м году является отголоском арестов в обществе “Спартак” 1937-38 гг.
						p Биография братьев Старостиных хорошо описана в книгах “Футбол сквозь годы” (Николай Старостин), “Большой футбол” и “Встречи на футбольной орбите” (Андрей Старостин).


					.tabs__content.arest
						p Николай, Андрей и Петр арестованы 20 марта 1942 года. Александр — 29 октября 1942 года.

					.tabs__content.case
						div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/300")
							a(href='../assets/img/starost/mat1.jpg' data-caption="Из материалов по пересмотру дела.")
							a(href='../assets/img/starost/mat2.jpg' data-caption="Из материалов по пересмотру дела, ч.2.")
							a(href='../assets/img/starost/mat3.jpg' data-caption="Из материалов по пересмотру дела, ч.3. ")

					.tabs__content.connect
						p Дело “Спартака” в 1939 году было началом “дела Старостиных” в 1942 году.

			.player-profile.cross-corners#geek
				.player-profile__close &times;
				h2.player-profile__name Леонид Геек

				.player-profile__about
					.player-profile__photo
						img(src="../assets/img/geek/geek.png")
					ul.player-profile__info
						li.info-item.player-profile__life-span!= '1901 - ?'
						li.info-item.player-profile__post Начальник учебно-спортивного отдела общества “Пищевик”


				.player-profile__tabs.tabs
					ul.tabs__caption
						li.tab.active Биография
						li.tab Арест
						li.tab Архивно-следственное дело
						li.tab Связь с делом Спартака

					.tabs__content.bio.active
						p Родился в 1901 году в Туле.
						p Начальник учебно-спортивного отдела общества “Пищевик”.  До того работал бухгалтером в “Спартаке”. Вместе с Николаем Старостиным над финансовыми делами “Спартака”.
						p Судьба после отмены приговора в 1939-м году неизвестна.

					.tabs__content.arest
						p Арестован 19 февраля 1938 года на Спириндоновке 9/2 в квартире 18.

					.tabs__content.case
						div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/300")
							a(href='../assets/img/geek/otkaz.jpeg' data-caption="Отказ от показаний 9 октября 1939 г. ")
							a(href='../assets/img/geek/spravka.jpeg' data-caption="Справка на арест, февраль 1938 г.")
							a(href='../assets/img/geek/peresmotr.png' data-caption="Формулировка обвинения из материалов пересмотра дела. ")

					.tabs__content.connect
						p Обвинялся по показаниям братьев Знаменских. Проходил по одному делу с Григорием Пужным и Евгением Архангельским.

			.player-profile.cross-corners#greben
				.player-profile__close &times;
				h2.player-profile__name Иван Гребенщиков

				.player-profile__about
					.player-profile__photo
						img(src="../assets/img/greben/greben.jpg")
					ul.player-profile__info
						li.info-item.player-profile__life-span!= '1900 - 1938'
						li.info-item.player-profile__post Руководитель кафедры лыж и легкой атлетики Московского института физкультуры
						li.info-item.meta-icon__wrapper
							.meta-icon.meta-icon--spion
								.meta-icon__hover Связи с заграницей
							.meta-icon.meta-icon--sport
								.meta-icon__hover Физическая подготовка

				.player-profile__tabs.tabs
					ul.tabs__caption
						li.tab.active Биография
						li.tab Арест
						li.tab Архивно-следственное дело
						li.tab Связь с делом Спартака

					.tabs__content.bio.active
						p Родился в 1900 году в Московской области (Виноградовский район, станция Фаустово).
						p В 20-30-е гг. — известный лыжник. В 1938 году назначен руководителем кафедры лыж и легкой атлетики Московского института физкультуры.
						p Не женат.
						p Расстрелян 21 января 1938-го на Коммунарке. Реабилитирован в мае 1956 года.


					.tabs__content.arest
						p Арестован 20 октября 1937 года в общежитии на Гороховской улице д. 20А.
						p Осужден 10 мая 1938 года.

					.tabs__content.case
						div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/300")
							a(href='../assets/img/greben/pokaz.jpg' data-caption="Признательные показания, 9 декабря 1937 г.")
							a(href='../assets/img/greben/fragment.png' data-caption="Фрагмент из первого допроса. ")

					.tabs__content.connect
						p В составе “террористической группы” в числе других называл: Василия Стеблева (якобы привлек его в организацию), Трофима Кадрилеева, Семена Кабакова, Николая Старостина.

			.player-profile.cross-corners#gvozd
				.player-profile__close &times;
				h2.player-profile__name Елиазар Гвоздовер

				.player-profile__about
					.player-profile__photo
						img(src="../assets/img/gvozd/gvozd.png")
					ul.player-profile__info
						li.info-item.player-profile__life-span!= '1914 - 1938'
						li.info-item.player-profile__post Тренер по легкой атлетике спортобщества “Рот Фронт”

						li.info-item.meta-icon__wrapper
							.meta-icon.meta-icon--spion
								.meta-icon__hover Знал иностранные языки

				.player-profile__tabs.tabs
					ul.tabs__caption
						li.tab.active Биография
						li.tab Арест
						li.tab Архивно-следственное дело
						li.tab Связь с делом Спартака

					.tabs__content.bio.active
						p Родился в 1914 году в Москве. Закончил аспирантуру Института им. Менделеева.
						p Был двукратным чемпионом страны в беге на 1500 метров, ученик Василия Стеблева.
						p Расстрелян 8 февраля 1938 года. Похоронен на Коммунарке. Реабилитирован 9 июня 1956.



					.tabs__content.arest
						p Арестован 4 ноября 1937 года в доме по адресу Петровско-Разумовская аллея 14, квартира 2.

					.tabs__content.case
						div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/300")
							a(href='../assets/img/gvozd/ank1.jpg' data-caption="Анкета арестованного. С.1")
							a(href='../assets/img/gvozd/ank2.jpg' data-caption="Анкета арестованного. С.2")
							a(href='../assets/img/gvozd/obv1.jpg' data-caption="Обвинительное заключение. С.1.")
							a(href='../assets/img/gvozd/obv2.jpg' data-caption="Обвинительное заключение. С. 2.")
							a(href='../assets/img/gvozd/isp.jpg' data-caption="Справка о приведении приговора в исполнение. ")
					.tabs__content.connect
						p По показаниям Трофима Кадрилеева назван в одной террористической группе вместе с другими легкоатлетами: Григорием Пужным и Василием Стеблевым.

			.player-profile.cross-corners#arhan
				.player-profile__close &times;
				h2.player-profile__name Евгений Архангельский

				.player-profile__about
					.player-profile__photo
						img(src="../assets/img/arhan/arhan.png")
					ul.player-profile__info
						li.info-item.player-profile__life-span!= '1896  - ?'
						li.info-item.player-profile__post Бухгалтер планового отдела общества “Спартак”

				.player-profile__tabs.tabs
					ul.tabs__caption
						li.tab.active Биография
						li.tab Арест
						li.tab Архивно-следственное дело
						li.tab Связь с делом Спартака

					.tabs__content.bio.active
						p Бывший футболист, бухгалтер планового отдела общества “Спартак”, близкий друг семьи Старостиных.
						p Женат, детей нет.
						p Первый раз арестован 9 марта 1938 года. Позднее был вторично арестован в 1942 году вместе с братьями Старостиными.
						p В показаниях от 28 марта 1938 признается в участии в нелегальных организациях вместе со Старостиными. В показаниях от октября 1939 года отрицает любую связь с контрреволюционными организациями и ничего не говорит о Старостиных.
						p О судьбе Архангельского после второго ареста ничего не известно.

					.tabs__content.arest
						p Арестован 9-го марта 1938-го на улице Воровского 8/1 в 49-ой квартире.

					.tabs__content.case
						div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/300")
							a(href='../assets/img/arhan/vorosh.png' data-caption="Е. Архангельский и ворошиловские стрелки")
							a(href='../assets/img/arhan/mat1.jpg' data-caption="Материалы пересмотра дела. С.1.")
							a(href='../assets/img/arhan/mat2.jpg' data-caption="Материалы пересмотра дела.С.2.")
							a(href='../assets/img/arhan/mat3.jpg' data-caption="Материалы пересмотра дела. С.3.")
					.tabs__content.connect
						p В обвинении идет в одной связке с Леонидом Гееком и Григорием Пужным. Согласно документам из дела главой антисоветской организации Архангельский называет Николая Старостина.

			.player-profile.cross-corners#strep
				.player-profile__close &times;
				h2.player-profile__name Владимир Стрепихеев

				.player-profile__about
					.player-profile__photo
						img(src="../assets/img/strep/strep.jpg")
					ul.player-profile__info
						li.info-item.player-profile__life-span!= '1904  - 1938'
						li.info-item.player-profile__post Футбольный судья
						li.info-item.meta-icon__wrapper
							.meta-icon.meta-icon--friend
								.meta-icon__hover друг семьи Старостиных, судил матчи с басками
				.player-profile__tabs.tabs
					ul.tabs__caption
						li.tab.active Биография
						li.tab Арест
						li.tab Архивно-следственное дело
						li.tab Связь с делом Спартака

					.tabs__content.bio.active
						p Родился в 1904 году в Москве.
						p Футбольный судья, директор базы "Москультторга”, близкий друг Андрея Старостина. Не был женат, детей нет.
						p Расстрелян 21 января 1938-го на полигоне в Коммунарке.


					.tabs__content.arest
						p Арестован 27 октября 1937 года в доме на Большой Бронной 24, квартире 37.


					.tabs__content.case
						div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/300")
							a(href='../assets/img/strep/mat1.jpg' data-caption="Пересмотр дела Стрепихеева и Кадрилеева. С.1.")
							a(href='../assets/img/strep/mat2.jpg' data-caption="Пересмотр дела Стрепихеева и Кадрилеева. С.2.")
							a(href='../assets/img/strep/spravka.jpg' data-caption="Справка о расстреле Владимира Стрепихеева. ")

					.tabs__content.connect
						p Обвиняется по показаниям Василия Стеблева и Трофима Кадрилеева.

			.player-profile.cross-corners#ryabo
				.player-profile__close &times;
				h2.player-profile__name Виктор Рябоконь

				.player-profile__about
					.player-profile__photo
						img(src="../assets/img/ryabo/ryabo.jpg")
					ul.player-profile__info
						li.info-item.player-profile__life-span!= '1895 - 1938'
						li.info-item.player-profile__post Начальник московского спортобщества “Локомотив”
						li.info-item.meta-icon__wrapper
							.meta-icon.meta-icon--friend
								.meta-icon__hover знакомый братьев Старостиных
							.meta-icon.meta-icon--spion
								.meta-icon__hover выезжал за границу, работал судьей
				.player-profile__tabs.tabs
					ul.tabs__caption
						li.tab.active Биография
						li.tab Арест
						li.tab Архивно-следственное дело
						li.tab Связь с делом Спартака

					.tabs__content.bio.active
						p Родился в 1895 году в колонии Елендорф Елизаветпольской губернии.
						p Футбольный судья, начальник московского спортобщества “Локомотив”. Окончил театральные курсы по специальности “режиссер драмы”.
						p Расстрелян 27 апреля 1938-го на полигоне в Коммунарке. Реабилитирован в сентябре 1957 года.

					.tabs__content.arest
						p Арестован 21 октября 1937 года в доме 67/69 на улице Новослободская, в 140-ой квартире.


					.tabs__content.case
						p Следственное дело Виктора Рябоконя находится в архиве ФСБ.

					.tabs__content.connect
						p Называет членами организации следующих современников: Николая Старостина, Станислав Леута, Петра Исакова, Владимира Стрепихеева, Георгия Фепонова.

			.player-profile.cross-corners#prok
				.player-profile__close &times;
				h2.player-profile__name Виктор Прокофьев

				.player-profile__about
					.player-profile__photo
						img(src="../assets/img/prok/prok.png")
					ul.player-profile__info
						li.info-item.player-profile__life-span!= '1889 - 1938'
						li.info-item.player-profile__post Руководитель футбольно-хоккейной секции спортивного общества "Буревестник"
						li.info-item.meta-icon__wrapper
							.meta-icon.meta-icon--friend
								.meta-icon__hover связь с семьей Старостиных
				.player-profile__tabs.tabs
					ul.tabs__caption
						li.tab.active Биография
						li.tab Арест
						li.tab Архивно-следственное дело
						li.tab Связь с делом Спартака

					.tabs__content.bio.active
						p Родился в 1989 году в Москве.
						p В 20-е годы — футболист “ЗКС”, “Дуката” и “Промкооперации”. С середины 30-х — один руководителей команды “Буревестник”.
						p Женат, воспитывает дочь.
						p Осужден и расстрелян 10 мая 1938-го на полигоне в Коммунарке.

					.tabs__content.arest
						p Арестован 27 октября 1937 года в своей квартире по адресу: Малый Козихинский переулок, дом 3, квартира 4.


					.tabs__content.case
						div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/300")
							a(href='../assets/img/prok/ank1.jpg' data-caption="Анкета арестованного. С.1.")
							a(href='../assets/img/prok/ank2.jpg' data-caption="Анкета арестованного. С.2. ")
							a(href='../assets/img/prok/obv1.jpg' data-caption="Обвинительное заключение. С.1.")
							a(href='../assets/img/prok/obv2.jpg' data-caption="Обвинительное заключение. С.2. ")
							a(href='../assets/img/prok/prigovor.jpg' data-caption="Постановление о приведении приговора в исполнение. ")
					.tabs__content.connect
						p В следственном деле можно найти показания на на Прокофьева, якобы данные Василием Стеблевым и Леонидом Гееком. Прокофьева обвиняли в подготовке покушения на Сталина во время парада 1-го мая 1937 года вместе с Николаем Старостиным.

			.player-profile.cross-corners#steb
				.player-profile__close &times;
				h2.player-profile__name Василий Стеблев

				.player-profile__about
					.player-profile__photo
						img(src="../assets/img/steb/steb.jpg")
					ul.player-profile__info
						li.info-item.player-profile__life-span!= '1906 - 1938'
						li.info-item.player-profile__post Начальник легкоатлетической секции и инструктор физкультуры Посольства Германии в СССР
						li.info-item.meta-icon__wrapper
							.meta-icon.meta-icon--spion
								.meta-icon__hover связь с заграницей (подрабатывал в немецком посольстве)
							.meta-icon.meta-icon--friend
								.meta-icon__hover тренировал бегунов общества “Спартак”
							.meta-icon.meta-icon--sport
								.meta-icon__hover участвовал в спортивных парадах на Красной площади
				.player-profile__tabs.tabs
					ul.tabs__caption
						li.tab.active Биография
						li.tab Арест
						li.tab Архивно-следственное дело
						li.tab Связь с делом Спартака

					.tabs__content.bio.active
						p Родился в 1906 году в Москве.
						p Тренер легкоатлетической секции общества “Спартак”. Готовил к соревнованиям братьев Знаменских и Елиазара Гвоздовера, по совместительству работал спортивным инструктором в посольстве Германии.
						p Женат, детей нет.
						p Осужден и расстрелян 1 сентября 1938 года на полигоне в Коммунарке. Реабилитирован 9 июня 1956 года.

					.tabs__content.arest
						p Арестован 25 октября 1937 года в Пименовском тупике, 5, квартира 1.


					.tabs__content.case
						div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/300")
							a(href='../assets/img/steb/mat1.jpeg' data-caption="Из показаний от 31 октября 1937 г.")
							a(href='../assets/img/steb/obv1.jpg' data-caption="Обвинительное заключение. С.1.")
							a(href='../assets/img/steb/obv2.jpg' data-caption="Обвинительное заключение. С.2. ")
							a(href='../assets/img/steb/prigovor.jpg' data-caption="Справка о приведении приговора в исполнение.")
					.tabs__content.connect
						p В своих показаниях Стеблев указывает следующих “соучастников”: В. Прокофьева, В. Рябоконя, В. Стрепихеева, И. Гребенщикова, Т. Кадрилеева, П. Людскова, а также главу “организации” — Николая Старостина.

			section.section-intro
				div.tv
					div.screen.mute#tv
				a#playIntro Смотреть
				a#skipIntro Пропустить
			//-.burger#burger
				.burger__shift
				.burger__shift
				.burger__shift
			section.section-fixed
				aside.sidebar.panel.hidden
					.sidebar__logo
						h1.sidebar__title Дело спартака
						p.sidebar__descr Люди гибнут за футбол

					//-nav.sidebar__menu.menu


						ul.menu__list
							li.menu__item Интро
							li.menu__item Начать игру
							li.menu__item Завершить игру
							li.menu__item Обзор матча
							li.menu__item Игроки
							li.menu__item О проекте
					.flex-space

					//-div.social.cross-corners
						a(href="").social__item.fb
							img.social__img(src='../assets/img/fb.png')
						a(href="").social__item.ok
							img(src='../assets/img/ok.png')
						a(href="").social__item.tw
							img(src='../assets/img/tw.png')
						a(href="").social__item.vk
							img(src='../assets/img/vk.png')

					div.main-src
						a.main-src__item.memo(href="https://www.memo.ru/" target="_blank")
							img(src='../assets/img/memo_logo.png')
						a.main-src__item.boell(href="https://www.boell.de/en" target="_blank")
							img(src='../assets/img/heinrich_boell.png')
						a.main-src__item.list(href="https://ru.openlist.wiki/" target="_blank")
							img(src='../assets/img/open_list.png')
						a.main-src__item.topos(href="https://topos.memo.ru/" target="_blank")
							img(src='../assets/img/topos.png')


				aside.sidebar-right.panel.hidden
					.timeline.hidden
						img(src="../assets/img/timeline.png")
						.timeline__card.timeline__card--yellow(timeline="15")
						.timeline__card.timeline__card--yellow(timeline="16")
						.timeline__card.timeline__card--yellow(timeline="17")
						.timeline__card.timeline__card--yellow(timeline="19")
						.timeline__card.timeline__card--yellow(timeline="20")
						.timeline__card.timeline__card--yellow(timeline="25")

						.timeline__card.timeline__card--red(timeline="28")

						.timeline__card.timeline__card--yellow(timeline="29")

						.timeline__card.timeline__card--red(timeline="30")

						.timeline__card.timeline__card--yellow(timeline="31")
						.timeline__card.timeline__card--yellow(timeline="32")

						.timeline__card.timeline__card--red(timeline="33")

						.timeline__card.timeline__card--yellow(timeline="34")

						.timeline__card.timeline__card--red(timeline="36")
						.timeline__card.timeline__card--red(timeline="37")
						.timeline__card.timeline__card--red(timeline="38")




					.aside-field.hidden
						include ./field.pug
					.flex-space

					#bench.cross-corners.sidebar-right__field.hidden
						.sidebar-right__label Скамейка запасных
						.player-ava(data-profile="ryabo")
						.player-ava(data-profile="greben")
						.player-ava(data-profile="kadril")
						.player-ava(data-profile="steb")
						.player-ava(data-profile="prok")
						.player-ava(data-profile="strep")
						.player-ava(data-profile="gvozd")
						.player-ava(data-profile="puzh")
						.player-ava(data-profile="geek")
						.player-ava(data-profile="arhan")
						.player-ava(data-profile="krivonos")
						.player-ava(data-profile="starost")
					#offside.cross-corners.sidebar-right__field.hidden
						.sidebar-right__label Вне игры
						.player-ava(data-profile="kadril")
						.player-ava(data-profile="strep")
						.player-ava(data-profile="gvozd")
						.player-ava(data-profile="ryabo")
						.player-ava(data-profile="prok")
						.player-ava(data-profile="krivonos")
						.player-ava(data-profile="steb")


			div#fullpage
				section.section.section-intro-page
					h2.intro-page__title Интро
					div.intro-page__wrapper
						p.intro-page__text Легенда о футбольном клубе “Спартак” называет эту команду “народной”. Та же легенда рассказывает и о “спартаковском футболе”, “спартаковском духе” и даже “спартаковской погоде” (это мелкий дождь - когда поле влажное, мяч ходит быстрее, а зрители на трибунах медленно мокнут). Важная составная часть этой легенды - политический арест братьев Старостиных, основателей команды, в 1942-м году. Вместе с ними “Спартак” вошел в семейную историю, разделив с миллионами своих болельщиков арест их близких.
							br
							br
							|Все Старостины пережили свой лагерный срок, вернулись из заключения и записали свою версию событий, издали книги. Ненаписанной осталась история десятков их одноклубников, членов общества “Спартак” и их друзей, арестованных и осужденных в 1937-1938-м гг., по делу, которое должно было стать “делом Спартака” и, вероятнее всего, уничтожить команду и её основателей.
							br
							br
							|Хроника дела “Спартака” второй половины 30-х рассказывает обе эти истории. В одной - героические победы и поражения, голы, очки, секунды и кубки. В другой - ночные аресты спортсменов, пытки на допросах и признательные показания о “фашистском заговоре” с целью смены власти в стране. И то, и другое происходит одновременно: люди играют за свою жизнь и гибнут за свое право играть. Такой была жизнь спортсмена в сталинском СССР, это и значило быть спартаковцем.
							br
							br
							|Герои “дела Спартака” занимают свои места на игровом поле. Каждый отыгрывает свою роль, прежде чем его покинуть.
						div.intro-page__fotorama
							div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="600/800")
								a(href='../assets/img/intro-image.png' data-caption="“Спартак” против команды воинской части командира Иванова на стадионе ЦДКА. 1942 г., РГАКФД")

				section.section.section-field.fp-section(data-anchor="field")
					include ./field.pug


				section.section.element2.section-content(data-anchor="translation")

					.content.cross-corners
						.content__header.cross-corners--bottom
							h3.content__title.header__translation.active Трансляция матча
							h3.content__title.header__event-line Лента событий

						.content__tab-wrapper
							.event-line.content__tab.hidden#psEventLine
								include ./event-line.pug

							//.translation.content__tab#psTranslation
							//	.event-line.content__tab.hidden#psEventLine
							//		include ./event-line.pug

							.translation.content__tab#psTranslation
								.material#material-1
									.material__content
										p Созданный в&nbsp;1935-м году &laquo;Спартак&raquo; был добровольно-спортивным обществом нового типа. Союз комсомола и&nbsp;Промкооперации (профсоюза мелких служащих) впервые в&nbsp;советской истории создал команду хотя и&nbsp;связанную с&nbsp;государством,
											i однако прямо ему не&nbsp;подконтрольную.
											br
											br
											| Сама московская футбольная команда возникла на&nbsp;переулках Красной Пресни, где была собрана группой друзей вокруг братьев Старостиных&nbsp;и, меняя название и&nbsp;формальное подчинение, пережила 20-е и&nbsp;первую половину 30-х годов.
											br
											br
											| Теперь она называлась &laquo;Спартак&raquo;&nbsp;&mdash; в&nbsp;честь немецких социал-демократов и&nbsp;интернационалистов из&nbsp;группы &laquo;Спартак&raquo; Карла Либкнехта и&nbsp;Розы Люксембург.

								.material#material-2
									.material__content
										h3 3 исторических матча

										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat2/img1.png' data-caption="Момент из матча в Париже, 1 января 1936 г. // РГАКФД")
											a(href='../assets/img/mat2/img2.png' data-caption="Куар против Акимова. Матч в Париже, 1 января 1936 г. // Огонёк, 29.02.36")
										p В первые два года с момента основания историю “Спартака” определили несколько больших матчей.
										p В январе 1936-го в Париже против “Рэсинга”, лидера местной футбольной лиги сыграла объединенная команда “Спартака” и “Динамо”. Поражение 1:2 разочаровало, однако и уровень игры, и политическое звучание этой поездки (работа над созданием антифашистского блока в Европе) были признаны успешными. Спортсменам и политикам в СССР стало ясно, что никакой пропасти между “профессиональным” западным и “любительским” советским футболом не существует. В скором будущем именно этот матч повлиял на решение о создании в СССР собственного национального футбольного чемпионата.
										p Второе событие - выставочная игра на Красной Площади летом 1936-го года. Проект, предложенный главой Комсомола Александром Косаревым, получил политическую поддержку и впервые в советской истории изменил обычное стройное течение спортивного парада. Посреди Красной площади было разложено гигантское войлочное поле, на котором между собой выставочный матч сыграли основной и дублирующий составы “Спартака”.

										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href="https://www.youtube.com/embed/gErnc7Ve9VA")
										//iframe(src="https://www.youtube.com/embed/gErnc7Ve9VA?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

										p Третья игра стала одной из центральных в клубной спартаковской мифологии. В июле 1937-го года в Москве была обыграна сборная Басконии (6:2), к тому моменту не проигравшая в Советском Союзе ни одного из более чем десятка матчей. Со временем забылись и политические интриги вокруг игры, и дополнительные игроки, приглашенные в “Спартак” из других команд, чтобы усилить состав. “Спартак” победил, решившись играть против испанских республиканцев по новой для себя, “буржуазной” тактической схеме “дубль-вэ”, доказав, что с внешним миром можно не только воевать, но и учиться у него.

										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href="https://www.youtube.com/embed/J8jFRDZNt7g")
											//iframe(width="560" height="315" src="https://www.youtube.com/embed/J8jFRDZNt7g?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

										p Так всего через два с небольшим года после своего основания, общество “Спартак” оказалось самым успешным и популярным в Советском Союзе. Оно могло позволить себе приглашать лучших тренеров (футбольную команду в 1936-м тренировал чешский специалист Антонин Фивебр), лучших атлетов (из других обществ “Спартак” переманил множество звезд), платить своим спортсменам стипендии (за счет средств профсоюзов и Промкооперации). К лету 1937-го года Старостины и “Спартак” были на пике своей славы и успеха. С этого момента и начинается хроника “дела Спартака”.
								.material#material-3
									.material__date
										span 9-11 июля 1937
									.material__content
										p После победы над басками Николай Старостин добивается от организаторов физкультурного парада на Красной площади особой привилегии для своего общества - футболисты “Спартака” проедут на специальной платформе “Бутца” с изображением счета игры с испанскими республиканцами - 6:2. Из соображений безопасности в бутсу сажают также двух сотрудников НКВД, переодетых игроками “Спартака”.

								.material#material-4
									.material__date
										span 12 июля 1937
									.material__content
										p На Красной Площади проходит парад физкультурников, посвященный 20-летию революции.
										.fotorama__wrapper
											div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
												a(href="https://www.youtube.com/watch?v=YmIIPujNCVU" data-caption="Команда “Спартак” и два сотрудника НКВД на платформе “Бутца”, 12 июля 1937, физкультурный парад.")
												a(href='../assets/img/mat4/img1.jpg' data-caption="Команда “Спартак” и два сотрудника НКВД на платформе “Бутца”, 12 июля 1937, физкультурный парад.")
								.material#material-5
									.material__date
										span 26 июля 1937
									.material__content
										p “Спартак” в составе большой советской делегации отправляется на Рабочую Олимпиаду в Антверпен. Участие в турнире - еще одна награда за победу в игре с басками и демонстрация политических возможностей Александра Косарева, сумевшего отправить на Запад свою команду, а не чемпиона того года - московское “Динамо”. Футбольной команде предстоит сыграть в кубковом турнире навылет с любительскими сборными Дании, Франции, Каталонии и Норвегии.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat5/img1.jpg' data-caption="Официальный постер Рабочей Олимпиады в Антверпене // Wikimedia")
								.material#material-6
									.material__date
										span 31 июля 1937
									.material__content
										p Секретный&nbsp;
											a(href='http://old.memo.ru/history/document/0447.htm') приказ НКВД №00047
											| &nbsp;принимается в Политбюро, начинается самая массовая в истории СССР государственная репрессивная операция против собственных граждан. По новым неформальным правилам арестовывают “бывших кулаков”, “уголовников” и “другие антисоветские элементы”. Меньше чем за год массового террора будут расстреляны более чем 725 тысяч человек по всему СССР.
								.material#material-7
									.material__date
										span 1 августа 1937
									.material__content
										p “Спартак” выигрывает скоротечный олимпийский турнир, в самом сложном - полуфинальном - матче обыграв команду Каталонии 2:1 и рабочую сборную Норвегии в финале - 2:0.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href="https://www.youtube.com/watch?v=f36nIS_Pqyc" )
											a(href='../assets/img/mat7/img1.jpg' data-caption="Фотоскан: “Газета “Правда”, 2 августа 1937")
								.material#material-8
									.material__date
										span 21 августа 1937
									.material__content
										p Газета “Правда” выходит со статьей о разворовывании имущества в Институте физкультуры. В заметке указаны конкретные суммы в тысячах рублей и упоминается комсомол как один из возможных ответственных за растрату.
										//div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat8/img1.png' data-caption="Газета “Правда”, 21 августа 1937")
								.material#material-9
									.material__date
										span 29 августа 1937
									.material__content
										h3 За кулисами
										p Главное спортивное СМИ страны, газета “Красный спорт” публикует статью “За кулисами”. Руководство “Спартака” обвиняют в растрате, в скупке сильных спортсменов из других команд, коррупции и целой серии финансовых злоупотреблений.
										blockquote “Внешне как будто бы все в порядке: футболисты побеждают басков, бегуны “Спартака” рвут на финишах ленточки, боксёры нокаутируют противников. Но стоит заглянуть глубже в жизнь этого общества, и картина становится иной. “Спартаковцы”-то ведь не спартаковцы! Подавляющая часть их мастеров - люди “законтрактованные”, с промкооперацией ничего общего не имеющие. Они пришли в “Спартак”, соблазненные “роскошной жизнью”: стипендиями, квартирами, денежными премиями. Так, путем широкой практики переманивания спортсменов, разбазаривания средств, общество создает свою спортивную славу”
										blockquote “В прокуренных и душных комнатах московского совета безраздельно владычествует лишь один человек - Н. Старостин”.
										blockquote “Мишура, трескотня, очковтирательство - вот стиль работы московского совета общества.”
										blockquote “Щедрые руководители московского совета любят хорошо жить. Огромные средства расходуются на дачи, постройку квартиры для братьев Старостиных, живущих, кстати, не по средствам. Приобретаются дорогостоящие призы и подарки, себе и “своим”. Тысячи рублей летят на, так сказать, “задабривание нужных людей”. Н. Старостин потерял чувство меры. Он дарит золотые часы нескольким участникам спортивной делегации, едущей в Антверпен, и за это “внимание” они провозят его чемоданы, набитые бесчисленными покупками”.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat9/img1.png' data-caption="Газета “Красный Спорт”, 29 августа 1937")
								.material#material-10
									.material__date
										span 29 августа 1937
									.material__content
										p “Комсомольская Правда” продолжает общественную кампанию статьей “Чуждые нравы в обществе Спартак”.
										p Список обвинений прежний: “спекуляции”, “рвачество”, завуалированный профессионализм (в “Спартаке”, в отличие от других спортобществ, не всегда удается оформить спортсмена на липовое рабочее место, иногда он занимается только спортом), “переманивание” игроков других команд.
										p Главный обвиняемый - Николай Старостин. В этот раз одним обвинительным тоном статья не ограничивается, все завершается убийственным для сентября 37-го поворотом:
										blockquote “Затхлую, гнилую атмосферу рвачества, подкупа, обворовывания общества в значительной мере насаждали враги народа, пробравшиеся во Всесоюзный комитет по делам физкультуры. Им удалось порядком навредить в физкультурном движении. Для ликвидации последствий вредительства в области физкультуры надо решительно очистить спортивные общества, и в частности “Спартак”, от буржуазных перерожденцев, грязных дельцов, залезающих в общественный карман, срывающих массовое развитие физкультуры и спорта”.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat10/img1.png' data-caption="Газета “Комсомольская правда”, 3 сентября 1937")
								.material#material-11
									.material__date
										span 11 сентября 1937
									.material__content
										h3 Тишина на динамо
										p “Спартак” играет матч чемпионата с московским “Динамо”. В Петровский парк спартаковский автобус прибывает в полной тишине: работники стадиона не встречают команду у раздевалки и не помогают игрокам с экипировкой. В атмосфере всеобщего страха никто не хочет быть замеченным рядом со “Спартаком”. Николай Старостин объясняет своему брату Андрею, что матч проигрывать нельзя - это будет воспринято как демонстрация слабости, а возможное поражение откроет дорогу для будущих репрессий в отношении “Спартака”. Напряженный матч завершается вничью - 0:0.
								.material#material-12
									.material__date
										span 11 сентября 1937
									.material__content
										h3 Защита Косарева
										p Весь сентябрь Николай Старостин пытается добиться личной встречи с Косаревым. Вероятнее всего она состоялась - в неформальной обстановке (в частности, об этом вспоминает в своих мемуарах Андрей Старостин). Однако в новых обстоятельствах даже глава Комсомола не уверен в собственной безопасности и публичных встреч со Старостиными избегает. Посредником при переговорах выступает Иван Епифанович Павлов - председатель общества “Спартак”.
										p Посоветовавшись обо всем с Косаревым, тот успокаивает братьев: с политической стороны их “прикроют”, надо постараться опровергнуть обвинения в финансовых преступлениях.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat12/img1.png' data-caption="Газета “Старостин жмет руку Косареву, 1936 г., 10-й съезд ВЛКСМ. РГАКФД")
								.material#material-13
									.material__content
										p Футбол, как и весь мир вокруг него в Советском Союзе конца 30-х - продолжение политики другими средствами.
											br
											|Когда-то Старостины стремились превратить игру в профессиональный спорт, прописав правила и оградив ее от внешнего государственного влияния, и тем самым поневоле превратились из футболистов и организаторов в политиков. Теперь им нужна политическая поддержка Косарева - они ждут собственного ареста каждый день.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat13/img1.jpg' data-caption="Газета “Николай Старостин получает орден Ленина из рук Михаила Калинина. 1937 г. // Андрей Лавров, heritage.com")
								.material#material-14
									.material__date
										span 11 сентября 1937
									.material__content
										p Братья Старостины пишут несколько объяснительных писем членам Политбюро - Косареву, Чубарю, Молотову, а также Сталину. К концу осени финансовая часть обвинений против спартаковского руководства признана недоказанной.
										blockquote “Всё это не соответствует действительности и является явной подтасовкой и преувеличением, что легко может быть установлено даже при поверхностном объективном ознакомлении с действительным положением дел и работы Общества”
								.material#material-15
									.material__date
										span 21 октября 1937
									.material__content
										p Арестован <b>Виктор Рябоконь</b>, футбольный судья и бывший начальник футбольного клуба “Локомотив”. У него обнаружились “связи с заграницей” (во время поездки в Париж он встретил в городе бывшего однокурсника - эмигранта), также его обвиняют в участии в контрреволюционном заговоре под руководством Николая Старостина. Следователем по его делу назначен лейтенант госбезопасности Михаил Леонтьевич Губочкин.
								.material#material-16
									.material__date
										span 23 октября 1937
									.material__content
										p Сотрудники НКВД арестовывают <b>Ивана Гребенщикова</b> - в 20-е годы известного лыжника, а теперь - главу кафедры легкой атлетики и лыж Московского инфизкульта. В постановлении об аресте он назван “идейным вдохновителем и активным участником контрреволюционной террористической группы из числа преподавателей инфизкульта им. Сталина и мастеров спорта общества “Спартак”.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href="https://youtu.be/_1e1sBhtXeg" data-caption="Участники лыжного кросса. Гребенщиков. 20-е гг. // РГАКФД")
								.material#material-17
									.material__date
										span 25 октября 1937
									.material__content
										p НКВД арестовывает <b>Василия Стеблева</b>, тренера легкоатлетической школы общества “Спартак”. По совместительству он подрабатывает тренером в посольстве Германии, у него дома находят несколько журналов “Легкая Атлетика” на немецком языке. В обвинении - “хранение фашистской литературы” и “контрреволюционная агитация”. В первых показаниях Стеблев напоминает следователю, что “работал на НКВД с 1933-го года”.
										p Ночью того же дня, 25-го октября 37-го, арестован спартаковский лыжник <b>Трофим Кадрилеев</b>. Его объявляют участником заговора против членов правительства и “уличают” в хранении оружия.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat17/img1.jpg' data-caption="Братья Знаменские со своим тренером Василием Стеблевым (в середине), 1934 г.")
											a(href='../assets/img/mat17/img2.jpg' data-caption="На лыжном кроссе. Трофим Кадрилеев - справа // museum.sportedu.ru")
								.material#material-18
									.material__date
										span 26 октября 1937
									.material__content
										p <b>Трофим Кадрилеев</b> дает первые признательные показания: “в спортивном обществе “Спартак” действуют две боевые террористические группы”. Среди названных участников - Стеблев, Гвоздовер, Пужный. Руководит обеими “крыльями” - Николай Старостин. Допрашивает Кадрилеева следователь 4 отдела 9-го отделения <a href="https://nkvd.memo.ru/index.php/Рабкин,_Юда_Львович">Юда Львович Рабкин</a>.
										blockquote “Гребенщиков мне сообщил, что активными участниками контрреволюционной организации являются судьи по футболу Всесоюзной категории Рябоконь и Стрепихеев, которые совместно со Старостиным Николаем руководят террористическими группами, созданными среди мастеров футболистов г. Москвы. <...> Второй револьвер привез мой брат Иосиф Кадрилеев из пионерских лагерей”.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat18/img1.jpg' data-caption="Выписка из протокола допроса Кадрилеева // следственное дело, “Открытый список” (openlist.wiki)")
								.material#material-19
									.material__date
										span 27 октября 1937
									.material__content
										p Арест и обыск на Малом Козихинском дом 3 - задержан <b>Виктор Прокофьев</b>, бывший игрок “Пищевика”, а теперь - начальник футбольно-хоккейной школы “Буревестник” и муж Клавдии Старостиной, сестры Николая, Александра, Андрея и Петра. В справке на арест Прокофьев назван “террористом”. Следователь по его делу - младший лейтенант <a href="http://nkvd.memo.ru/index.php/Березкин,_Александр_Алексеевич">Александр Березкин</a>, помощник начальника 9 отделения 4 отдела НКВД.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat19/img1.jpg' data-caption="Середина 20-х гг., второй справа - Виктор Прокофьев // myheritage.com")

								.material#material-20
									.material__date
										span 27 октября 1937
									.material__content
										p В ту же ночь, 27-го октября арестован и футбольный судья Владимир Стрепихеев, близкий друг семьи Старостиных. Еще два месяца назад он судил матчи “Локомотива”, “Динамо” и сборной Минска с басками. Занимается делом Стрепихеева (как и всеми основными обвиняемыми по готовящемуся коллективному делу) младший лейтенант Березкин.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat20/img1.jpg' data-caption="Перед матчем с басками. В центре - Владимир Стрепихее // openlist.wiki")
								.material#material-21
									.material__date
										span 31 октября 1937
									.material__content
										p О планах по свержению советской власти рассказывает <b>Василий Стеблев</b>. На параде 1 мая 1937 года предполагалось “пробраться в ряды демонстрантов и бросить в мавзолей бомбу, чтобы члены правительства вместе с мавзолеем взлетели на воздух”. Согласно другому плану, рассказанному следствию, по Сталину нужно было стрелять с крыши ГУМа. “Проект” был одобрен заговорщиками, однако на параде так ничего и не случилось. Ведет допрос лейтенант НКВД <a href="https://nkvd.memo.ru/index.php/Губочкин,_Михаил_Леонтьевич">Михаил Леонтьевич Губочкин</a>, он же допрашивал и Виктора Рябоконя.
										blockquote “Выслушав меня, Старостин сказал: “счастливый ты человек, не варишься в собственном соку, а что мы, хотя и ездим заграницу, но что из этого толку, держат там как на цепи. Нет, при советском строе мы по физкультуре далеко не пойдём. Есть ребята с хорошими задатками по всем видам спорта, но советские условия не дадут им хода. <...> Старостина Николая Петровича окружает группа спортсменов, являющаяся по своим взглядам настроенной против партии и советской власти.”.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat21/img1.jpg' data-caption="Первая страница протокола допроса Василия Стеблева, 31 октября 1937 // Следственное дело. “Открытый список” (openlist.wiki)")
											a(href='../assets/img/mat21/img2.jpg' data-caption="Футболисты “Спартака” на параде 1-го мая 1937-го. Слева - Николай и Александр Старостины // myheritage.com")
								.material#material-22
									.material__content
										p Из показаний <b>Василия Стеблева</b> следует, что группа заговорщиков регулярно собиралась в квартире Николая Старостина и обсуждала план захвата власти в стране. Так было, например, в январе 37-го и было “замаскировано под игру в преферанс”.
								.material#material-23
									.material__content
										p Отдельно в показаниях <b>Стеблева</b> обговаривается вопрос о вещественных доказательствах. Куда же подевались все эти “секретные пакеты”, которые он получал от Старостина и немецкого посольства?
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat23/img1.png' data-caption="Из показаний Василия Стеблева. Фрагмент // следственное дело, “Открытый список” (openlist.wiki)")

								.material#material-24
									.material__content
										p В это же время по обвинению в связях с немецким посольством по всей Москве арестовываются сотни людей - политэмигрантов, немецких коммунистов, этнических немцев, родившихся в СССР и таких людей, как Стеблев - хотя бы раз в силу каких-то обстоятельств посещавших это посольство. Любой контакт - реальный или вымышленный - гарантия приговора о “шпионской деятельности” или “фашистских настроениях”.

								.material#material-25
									.material__date
										span 4 ноября 1937
									.material__content
										p НКВД арестовывает подопечного Василия Стеблева, 23-летнего бегуна, чемпиона страны на дистанции 1500 метров, <b>Елиазара Гвоздовера</b>. Он переводил и пересказывал своим товарищам куски из немецкого журнала “Легкая атлетика”. В постановлении о необходимости ареста Гвоздовера называют “членом боевой террористической группы”. Им также занимается 9 отделение, следователь Поляк.

								.material#material-26
									.material__date
										span 9 декабря 1937
									.material__content
										p Первые признательные показания даёт Иван Гребенщиков. Он называет себя одним из участников заговора против членов правительства, а человеком, “завербовавшим” его - тренера Василия Стеблева. Его следователь, как и в деле Кадрилеева - Юда Львович Рабкин.
										blockquote “Когда мы остались на улице одни он <Стеблев> пошел меня проводить до трамвая и по дороге сказал, что в оружейном складе института много наганов. <...> 1 января 1937-го года Стеблев отвел меня в лесок, чтоб смотреть как идут лыжники на дистанции, а там мне передал, что центр решил назначить совершение террористического акта против членов правительства на 1 мая 1937 г. во время демонстрации на Красной Площади”.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat26/img1.jpg' data-caption="В общежитие. Иван Гребенщиков - второй справа // museum.sportedu.ru")

								.material#material-27
									.material__date
										span 31 декабря 1937
									.material__content
										p Подробные признательные показания начинает давать <b>Виктор Рябоконь</b>. Во время зарубежной поездки в Париж в 1935-м году он встретил там своего бывшего однокурсника, Николая Алексеева, эмигрировавшего на Запад после революции. Тот “завербовал” Рябоконя в свою “организацию”. Среди других футбольных “заговорщиков”: Николай Старостин и футболисты “Спартака” начала 30-х - Петр Исаков и Станислав Леута.
										blockquote “Только на внутренние силы рассчитывать нельзя. Помощь необходима извне. В этом смысле наиболее могущественной является Германия - единственное передовое государство, выступающее с открытым призывом бороться с коммунизмом во всем мире <...> Старостин предлагал осуществить убийство руководителей партии и правительства на стадионе “Динамо” во время одного из спортивных соревнований. Этот вариант был наиболее приемлем, со слов Старостина, потому, что обычно руководители часто посещали стадион и он был всегда заранее осведомлен об этом от Харченко. Конкретно решено было стрелять в тот момент, когда кто либо из намеченных лиц будет выходить с трибуны и садиться в машину””.

								.material#material-28
									.material__date
										span 21 января 1938
									.material__content
										p <b>Трофим Кадрилеев</b> и <b>Владимир Стрепихеев</b> приговорены к расстрелу Военной коллегией Верховного суда. Обоих казнят в этот же день.
										p Кадрилеев и Стрепихеев - первые спортсмены, расстрелянные по делу “Спартака”. Как и практически все остальные жертвы этого дела, они похоронены на подмосковном полигоне “Коммунарка”, на небольшой территории в лесу вокруг бывшей дачи главы НКВД Генриха Ягоды, среди более чем 5 тысяч человек, казненных в 1937-1938 гг.
								.material#material-29
									.material__date
										span 30 января 1938
									.material__content
										p Арестован <b>Григорий Пужный</b>, тренер в спартаковской легкоатлетической школе, член эстафетной команды общества “Спартак”. Он много лет выступает вместе с братьями Серафимом и Георгием Знаменскими, главными советскими бегунами. Теперь Знаменские дают показания против него.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='https://youtu.be/40Pm8D1fTJY' data-caption="Забег по бульварному кольцу 193? год // РГАКФД")

								.material#material-30
									.material__date
										span 7 февраля 1938
									.material__content
										p Военная коллегия рассматривает дело <b>Елиазара Гвоздовера</b>. Заседание длится 15 минут. Гвоздовера приговаривают к смертной казни и на следующий день расстреливают.

								.material#material-31
									.material__date
										span 19 февраля 1938
									.material__content
										p Арестован <b>Леонид Геек</b>, начальник учебно-спортивного отдела в обществе “Пищевик”, до того работавший бухгалтером в “Спартаке”, близкий знакомый Григория Пужного. И он тоже признается “членом преступной организации фашистски настроенных спортсменов”.

								.material#material-32
									.material__date
										span 9 марта 1938
									.material__content
										p Арестован бывший футболист, друг Андрея Старостина, <b>Евгений Архангельский</b>. Через его обвинение в дело добавляется новая линия:, он, якобы, собирал информацию о подготовке “ворошиловских стрелков”, которых можно было использовать для покушения на Сталина.

								.material#material-33
									.material__date
										span 27 апреля 1938
									.material__content
										p <b>Виктор Рябоконь</b> осужден и расстрелян по приговору Военной Коллегии. В последнем слове он просил “сохранить ему жизнь”.

								.material#material-34
									.material__date
										span 30 апреля 1938
									.material__content
										p Органы НКВД арестовывают <b>Серафима Кривоносова</b>, бывшего футболиста, а теперь - руководителя магазина спартаковских спорттоваров. Его имя уже упоминалось другими арестованными среди участников общего “заговора”.

								.material#material-35
									.material__date
										span 5 мая 1938
									.material__content
										h3 Друзья
										p Серафима Кривоносова допрашивают о встречах друзей дома у Андрея Старостина. Он подтверждает, что часто бывал там вместе с Евгением Архангельским и Владимиром Стрепихеевым, и неоднократно слышал там “антисоветские разговоры”.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat35/img1.jpg' data-caption="Андрей и Александр Старостины с друзьями и подругами. Предположительно, крайний слева - Серафим Кривоносов. 1930 г. // myheritage.com ")

								.material#material-36
									.material__date
										span 10 мая 1938
									.material__content
										p <b>Виктор Прокофьев</b> осужден Военной Коллегией к высшей мере наказания. В отличие от остальных участников дела, Прокофьев отказывается признавать себя виновным. По приговору его расстреливают в тот же день.

								.material#material-37
									.material__date
										span 20 июня 1938
									.material__content
										p Расстрелян <b>Серафим Кривоносов</b>. В его итоговом обвинении фигурирует “подготовка покушения на Сталина на стадионе “Локомотив” (сам Сталин, как известно, спортом не интересовался и на футбольных матчах, кроме Красной площади, никогда не бывал).

								.material#material-37-1
									.material__date
										span 10 июля 1938
									.material__content
										p Николай Старостин отправляет Косареву проект карнавального спектакля-”шаржа” для готовящегося очередного физкультурного парада. Сценарий называется “Фашистская сбродная против всеобщего мира” и представляет собой футбольную сборную из политических противников Советского Союза - с Троцким в воротах, Муссолини в полузащите, “полным Г…” - Гитлером, Геббельсом, Герингом в нападении итд. По словам Николая сценарий составлен “всеми братьями” и, судя по всему, должен подчеркнуть их полную политическую лояльность режиму.
										p Сценарий передан Молотову и затем отвергается, с резолюцией: "По-моему, проект т. Старостина политически неприемлем: с какой стати мы начнем ругать правительства чуть ли не всех стран мира и балаганить на эту тему? Это - не умно и вредно для дела".
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat-37-1/82_2_970_057.jpg')
											a(href='../assets/img/mat-37-1/82_2_970_058.jpg')
											a(href='../assets/img/mat-37-1/82_2_970_059.jpg')
											a(href='../assets/img/mat-37-1/82_2_970_060.jpg')
											a(href='../assets/img/mat-37-1/82_2_970_061.jpg')
											a(href='../assets/img/mat-37-1/82_2_970_062.jpg')
											a(href='../assets/img/mat-37-1/82_2_970_063.jpg')
											a(href='../assets/img/mat-37-1/82_2_970_064.jpg')
								.material#material-37-2
									.material__date
										span 24 июля 1938
									.material__content
										p На Красной площади и стадионе “Динамо” проходит парад к 20-летию комсомола. В самом его конце - номер “Если завтра война”, с участием спортсменов - стрелков и гимнастов.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat37-2/img1.png' data-caption="Выступление студентов Института физкультуры им.Сталина на стадионе \"Динамо\" во время показа выступлений участников Всесоюзного физкультурного парада на Красной площади. 1938 г. РГАКФД")

								.material#material-38
									.material__date
										span 1 сентября 1938
									.material__content
										p Военной Коллегией Верховного суда <b>Василий Стеблев</b> приговорен к смертной казни и в тот же день расстрелян.

								.material#material-39
									.material__date
										span 14 ноября 1938
									.material__content
										p Заканчивается очередной футбольный сезон, чемпионом СССР становится московский “Спартак”. Во многих отношениях это исторический чемпионат: в высшей лиге, “группе А” впервые выступает 26 команд, все играют по 25 матчей. Это первый в истории “Спартака” сезон с золотым дублем - выиграно и первенство, и кубок СССР.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat39/img1.png' data-caption="1938 год. Финал Кубка СССР. Спартак (Москва) – Электрик (Ленинград). 1938 год // РГАКФД")


								.material#material-40
									.material__date
										span 23 ноября 1938
									.material__content
										p Прошение об отставке подает Николай Ежов, глава НКВД, друг и политический соратник Александра Косарева. В начале декабря он будет официально отстранен от должности. Завершается самый напряженный период арестов и расстрельных приговоров, позднее известный как Большой террор.

								.material#material-41
									.material__date
										span 25 ноября 1938
									.material__content
										p Ежова на посту наркома внутренних дел сменяет Лаврентий Берия. На следующий день отменяются все оперативные приказы и директивы о проведении массовых террористических операций; все следственные дела, еще не доведенные до приговора, передаются в судебные органы и Особое совещание и пересматриваются, согласуясь с “нормами социалистической законности”.

								.material#material-42
									.material__date
										span 28 ноября 1938
									.material__content
										p Арестован Александр Косарев - до сих пор остававшийся главой комсомола, друг бывшего наркома внутренних дел Николая Ежова, уже смещенного со своего поста. С арестом Косарева “Спартак” и Старостины теряют своего главного политического покровителя. Начинается охота на людей круга Ежова, его соратников.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat42/img1.jpg' data-caption="Заседание на 20-летие комсомола. Лицо Косарева закрашено // Wikimedia")

								.material#material-43
									.material__date
										span Февраль 1939-го
									.material__content
										p Николай Старостин подает документы на вступление в партию. Это мера предосторожности, попытка защитить себя партбилетом в момент следующего возможного кризиса. В этом же месяце Николай Старостин становится “кандидатом в члены ВКП (б)”.

								.material#material-44
									.material__date
										span 9 сентября 1939
									.material__content
										p <b>Пужного</b>, <b>Геека</b>, Кабакова и <b>Архангельского</b> вместе везут на заседание трибунала по их делу. Все четверо удивлены, почему в обвинительном заключении не упомянуты братья Старостины. Геек рассказывает, как еще летом, при переезде из Таганской тюрьмы в Бутырку, слышал от одного заключенного, что тот видел Андрея Старостина на хоккейном матче. Значит ли это, что никто из братьев Старостиных не арестован? Обвиняемые решают все вместе отказаться от показаний, данных на предварительном следствии - раз Старостины на свободе, всё дело может развалиться.
								.material#material-45
									.material__date
										span 12 сентября 1939
									.material__content
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='https://www.youtube.com/watch?v=CA2gmrH_0fQ ')
										p “Спартак” играет финал Кубка СССР против ленинградского “Сталинца”, побеждает 3:1 и второй год подряд выигрывает этот турнир.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat-45/img1.jpg' data-caption="Андрей Старостин с Кубком СССР // heritage.com, Андрей Лавров")

								.material#material-46
									.material__date
										span 16 сентября 1939
									.material__content
										p Становится известно, что полуфинальный матч Кубка - “Спартак” (Москва) - “Динамо” (Тбилиси) будет переигран, несмотря на недавно завершившийся финал. В течение следующих дней Николай Старостин выясняет причины странного решения, ходит по инстанциям, где ему дают понять, что приказ идет “сверху” и обсуждению не подлежит.


								.material#material-47
									.material__date
										span сентябрь 1939
									.material__content
										p В серии показаний в 20-х числах сентября 1939-го года обвиняемые рассказывают о связи Александра Косарева и Николая Старостина. Следователей интересуют коррупция, подарки из заграничных поездок и финансовые дела “Спартака”. Выясняется, что еще весной 1936-го Николай Старостин в день рождения Косарева на X-м съезде ВЛКСМ вручил ему ружье с гравировкой: “Александру Васильевичу, ни пуха ни пера. От спортсменов общества Спартак”.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat47/img1.jpg' data-caption="Николай Старостин выступает на 10-м съезде ВЛКСМ. Под ружьем - Александр Косарев. 1936 г. // myheritage.com")
											a(href='../assets/img/mat47/img2.png' data-caption="Выступление Н. Старостина на 10-м съезде ВЛКСМ (фрагмент) // Протокол 10-го съезда ВЛКСМ, 1936 г.")
										p В 1937-1938 гг. такие подробности взбудоражили бы следствие, но теперь, когда дело разваливается, НКВД не дает истории хода.


								.material#material-48
									.material__content
										p В следующей серии отказа от показаний один из фигурантов дела рассказывает, что осенью 1937 года Старостины следили за ходом следственных дел против спартаковцев. Информацию якобы передавал Петр Ряднов, капитан НКВД, человек из команды Ежова, типичный следователь эпохи Большого террора. Осенью 1939-го Ряднов уже мертв: его арестовали вместе с другими ежовскими соратниками зимой 1939-го, обвинили в “фашизме”, избиении обвиняемых на допросах, превышении полномочий и расстреляли в июле 1939-го.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat48/img1.png' data-caption="Петр Ряднов. Фото из “Н. Петров, К. Скоркин. Кто руководил НКВД?”")
											a(href='../assets/img/mat48/img2.png' data-caption="Записка о связях Старостина в НКВД. Следственное дело Геека, Пужного, Кабакова и Архангельского, “Открытый список” (openlist.wiki)")

								.material#material-49
									.material__date
										span 30 сентября 1939
									.material__content
										p “Спартак” и тбилисское “Динамо” переигрывают полуфинал Кубка СССР. Стадион “Динамо” полон, это одна из самых запоминающихся игр довоенного советского футбола. Несмотря на отсутствие нескольких ключевых игроков (капитан Андрей Старостин не играет из-за перелома руки), “Спартак” побеждает - 3:2. Полуфинал выигран после финала, кубок остается у “Спартака”.
										p Почти 3 года спустя, когда Николай Старостин будет арестован, следователь <a href="http://old.memo.ru/history/NKVD/kto2/kto_2-0943.html">Анатолий Рассыпинский</a> вспомнит об этом матче и задаст вопрос: “Правда ли что судья матча, Николай Усов, получил от Старостиных взятку в виде пары женских туфель?”. “Нет, - ответит Николай - он их купил сам, по талону”.

								.material#material-50
									.material__date
										span 16 ноября 1939
									.material__content
										p Помощник военного прокурора Куров предлагает отпустить <b>Геека, Пужного и Архангельского</b>.
										blockquote “Абсурдность и нелепость фактов о шпионской и террористической деятельности обвиняемых, если верить их показаниям, настолько очевидна, что не вызывает сомнений и у следователей, ведущих это дело”.
								.material#material-51
									.material__date
										span 23 ноября 1939
									.material__content
										p Новые показания Георгия Знаменского, бегуна и осведомителя НКВД по спортивным вопросам. У обоих братьев Знаменских многолетний опыт написания рапортов и <a href="http://bg.ru/society/on_pohozh_na_belogvardejtsa-15414/">доносов</a> в госбезопасность.
										blockquote “Помню, весной 1933-го года на стадионе “Юных пионеров” в перерыве спорттренировок в комнате в присутствие меня и многих других спортсменов, фамилии их не знаю, Геек по поводу происходившей подписки на заем бросил со смехом такую реплику: “добровольно-принудительно””. <...> Надо сказать, что в первых показаниях я кое-что перегнул, возможно виноват я сам, но на меня воздействовала обстановка следствия <...> Тем не менее, Леонид Геек действительно читал книгу “Моя борьба”.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='https://youtu.be/ONmviAqfTV0' data-caption="Забег в Сокольниках, 1942 г. // РГАКФД")

								.material#material-52
									.material__date
										span 25 ноября 1939
									.material__content
										p Постановление об освобождении <b>Геека</b>, <b>Архангельского</b>, Кабакова и <b>Пужного</b>. Все они отпущены из тюрьмы, это часть процесса “бериевских амнистий” - люди, не успевшие получить приговор при Ежове, имеют шанс на пересмотр дела.

								.material#material-53
									.material__date
										span 30 ноября 1939
									.material__content
										p “Спартак” под руководством мужа Веры Старостиной, Петра Попова, устанавливает вечный рекорд советских чемпионатов - второй год подряд делает “золотой дубль” - победа в чемпионате и кубке.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat53/img1.jpg' data-caption="“Спартак” (Москва). 1939 г. Частная коллекция")

								.material#material-54
									.material__date
										span Декабрь 1939
									.material__content
										p Одного из следователей по делу “Спартака”, Мешкова, привлекают к ответственности за нарушение правил ведения следствия - за невключение в протокол части деталей следствия и недобросовестное переписывание показаний.
											br
											|После проверки все обвинения сняты.

								.material#material-55
									.material__date
										span 20 марта 1942
									.material__content
										h3 Дело старостиных
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='https://www.youtube.com/watch?v=TN15hNLZD2g&list=PLij4j4U2dbqy89xYCwwekq-VitHYEpneW&index=6' data-caption="Николай Старостин забивает гол в ворота сборной Ленинграда. 1928 (?) г., Спартакиада. РГАКФД")
										p Через два года после окончания последних дел по арестам 1937-1938 гг., связанных со “Спартаком”, НКВД арестовывает трех братьев Старостиных - Николая, Андрея и Петра. Их обвиняют в финансовых злоупотреблениях, “пораженческих настроениях” (ожидании прихода немецких войск) и затем в “восхвалении буржуазного спорта”. Четвертый брат, Александр, будет арестован чуть позже, осенью.
										div.fotorama(data-allowfullscreen="true" data-fit="contain" data-width="100%" data-ratio="800/600")
											a(href='../assets/img/mat55/img1.png' data-caption="Петр Старостин. Фото ареста")

	script(src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js")
	script(src='../js/jquery-youtube.js')
	script(src='../js/index.js')